<% content_for :body do %>
  ## Details you entered

  Your tax credits award ended on: <%= format_date(calculator.tax_credits_award_ends_on) %>

  You started trading on: <%= format_date(calculator.started_trading_on) %>

  <% if calculator.stopped_trading? %>
    You stopped trading on: <%= format_date(calculator.stopped_trading_on) %>
  <% end %>

  Your business accounts started on: <%= calculator.accounts_start_on.strftime('%e %B') %>

  ## Timeline chart

  <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['timeline']}]}"></script>
  <div id="timeline" style="height: 500px"></div>

  <script>
    google.setOnLoadCallback(drawChart);

    function drawChart() {
      var container = document.getElementById('timeline');
      var chart = new google.visualization.Timeline(container);
      var dataTable = new google.visualization.DataTable();

      dataTable.addColumn('string', 'Row Label');
      dataTable.addColumn('string', 'Bar Label');
      dataTable.addColumn('date',   'Begins On');
      dataTable.addColumn('date',   'Ends On');

      dataTable.addRows([
        <%= render partial: 'timeline_rows.erb', locals: { calculator: calculator } %>
      ]);
      
      chart.draw(dataTable, { timeline: { colorByRowLabel: true } });
    };
  </script>

<% end %>
